@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--text);
  box-sizing: border-box;
}

body {
  background: url(bg.jpg) ;
  background-size: auto;
  background-color: black;
  /* backdrop-filter: blur(5px); */
  margin: 0;
}

:root {
  --light: #00000030;
  --shade: #00000050;
  --highlight: #22222280;
  --lowlight: #1d1d1d80;
  --bg: #202020f0;
  --trans: #00000000;
  --text: #dcdcdc;
}

.pane {
  border-radius: 10px;
  padding: 1rem;
}

.pane, button {
  text-shadow: 4px 4px 3px #00000080;
  backdrop-filter: blur(10px) drop-shadow(5px 5px 5px black);
  box-shadow: -5px -5px 10px var(--light), 4px 4px 5px var(--shade);
  border-bottom: 2px var(--shade) solid;
  border-right: 2px var(--shade) solid;
  border-top: none;
  border-left: none;
}

th.pane, td.pane {
  padding: 10px;
}

ul.pane {
  padding-left: 2rem;
}

table {
  border-spacing: 1rem;
}

button {
  /* border: 1px solid var(--light); */
  background-color: var(--trans);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.thin-scroller::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-track {
  background-color: var(--shade);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--light);
}
::-webkit-scrollbar-corner {
  background: none;
}